.DS_Store
node_modules/
.idea/
.env
.env.production
.env.test*
.env.dev
.env.staging
.private-key.pem
.private-key.staging.pem
coverage/
dist/static/
dist/views/
src/version.ts

# Local Netlify folder
.netlify
.vercel
build/
