name: 'main'
concurrency: main_environment
on: 
  push:
    branches: main
  pull_request:
    branches: main
jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
    - name: 'Checkout sources'
      uses: actions/checkout@v3
    - name: 'Setup NodeJS'
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    - name: 'Install dependencies'
      run: yarn install
    - name: 'Build distribution'
      run: yarn dist
    - name: 'Run unit-tests'
      run: yarn test
    - name: 'Run code coverage'
      run: yarn run coverage
    - name: 'Upload code coverage report'
      run: bash <(curl -s https://codecov.io/bash) -t ${{secrets.CODECOV_SECRET_TOKEN }}
